.bg-imgg1{
    background-image: url('../../Images/1.png');
    height: 228px;
    background-repeat: no-repeat;
}

.bg-imgg2{
    background-image: url('../../Images/Mask\ Group5.png');
    height: 228px;
    background-repeat: no-repeat;
}
.bg-imgg3{
    background-image: url('../../Images/Mask\ Group3.png');
    height: 228px;
    background-repeat: no-repeat;
}
.bg-imgg4{
    background-image: url('../../Images/Mask\ Group.png');
    height: 228px;
    background-repeat: no-repeat;
}
.img-container{
    margin-top: 50px;
}