
.bg-img{
   background-image: url('../../Images/Rectangle\ 66.png');     
}

.flex-container {
  display: flex;
 
}
.itmes{
    margin-right: 300px
}
.box{
  height: 257px;
  border: 4px solid #fff;
  width: 70%;
  position: absolute;
  margin: auto;
  margin-top: 3rem;
 margin-left: 7rem;
}